{{> common/rigging-header }}

<div class="pure-g">
  <div class="pure-u-1">
    {{#if flash_message}}
    <div class="flash-message flash-message-{{flash_message.0}}">
      {{flash_message.1}}
    </div>
    {{/if}}

    <table class="pure-table pure-table-horizontal device-list pure-table-striped">
      <thead>
        <tr>
          <th>manufacturer</th>
          <th>model</th>
          <th>serial</th>
          <th>dom</th>
        </tr>
      </thead>
      <!-- TODO(richo) breaks between rigs -->
      {{#each data.equipment.components}}
      <tr>
        <td>{{this.manufacturer}}</td>
        <td>{{this.model}}</td>
        <td>{{this.serial}}</td>
        <td>{{this.manufactured}}</td>
      </tr>
      {{/each}}
    </table>
    <table class="pure-table pure-table-horizontal device-list pure-table-striped">
      <thead>
        <tr>
          <th>date</th>
          <th>rigger</th>
          <th>certificate</th>
          <th>seal</th>
        </tr>
      </thead>
      <!-- TODO(richo) breaks between rigs -->
      {{#each data.repacks}}
      <tr>
        <td>{{this.date}}</td>
        <td>{{this.rigger}}</td>
        <td>certificate</td>
        <td>seal</td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>
{{> common/footer }}
