{{> common/header }}

<div class="pure-g">
  <div class="pure-u-1">
    <h2>Settings</h2>
    <div>
      <form method="POST" class="pure-form" id="settings_form">
      <table class="pure-table pure-table-horizontal device-list pure-table-striped">
        <thead>
          <tr>
            <th>setting</th>
            <th>value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Notification email</td>
            <td><input class="settings-text-input" type="text" name="notification_email" form="settings_form" placeholder="richo@example.org"
              {{#if this.user.notify_email}}value="{{this.user.notify_email}}"{{/if}}
              /></td>
          </tr>
          <tr>
            <td>Pushover ID</td>
            <td><input class="settings-text-input" type="text" name="notification_pushover" form="settings_form" placeholder="J4VQGefXleUm7oQKMXLZDB1rRYGYxE"
              {{#if this.user.notify_pushover}}value="{{this.user.notify_pushover}}"{{/if}}
              /></td>
          </tr>
          <tr>
            <td>Staging</td>
            <td>
              <select id="staging_type" name="staging_type">
                <option value="directory" {{maybe_selected this.user.staging_type "Directory"}}>Directory</option>
                <option value="device" {{maybe_selected this.user.staging_type "Device"}}>Device</option>
              </select>

              <input class="settings-text-input" type="text" name="staging_location" form="settings_form" placeholder="/mnt/staging"
              {{#if this.user.staging_location}}value="{{this.user.staging_location}}"{{/if}}
              /></td>
          </tr>
        </tbody>
      </table>
      </form>
    </div>
    <div class="save-button">
      <button type="submit" form="settings_form" class="button-big pure-button pure-button-primary">Save</button>
    </div>
  </div>
</div>

{{> common/footer }}
