{{> common/header }}

<div class="pure-g">
  <div class="pure-u-1">
    <h2>Settings</h2>
    {{#if flash_message}}
    <div class="flash-message flash-message-{{flash_message.0}}">
      {{flash_message.1}}
    </div>
    {{/if}}
    <div>
      <form method="POST" class="pure-form" id="settings_form">
      <table class="pure-table pure-table-horizontal device-list pure-table-striped">
        <thead>
          <tr>
            <th>setting</th>
            <th>value</th>
            <th>help</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Notification email</td>
            <td><input class="settings-text-input" type="text" name="notification_email" form="settings_form" placeholder="richo@example.org"
              {{#if this.user.notify_email}}value="{{this.user.notify_email}}"{{/if}}
              /></td>
            <td>The email you'd like to receive reports to when upload runs finish</td>
          </tr>
          <tr>
            <td>Pushover ID</td>
            <td><input class="settings-text-input" type="text" name="notification_pushover" form="settings_form" placeholder="J4VQGefXleUm7oQKMXLZDB1rRYGYxE"
              {{#if this.user.notify_pushover}}value="{{this.user.notify_pushover}}"{{/if}}
              /></td>
            <td>The ID of your pushover account. This will allow you to receive push notifications about progrress.</td>
          </tr>
          <tr>
            <td>Staging</td>
            <td>
              <select id="staging_type" name="staging_type">
                <option value="None" {{maybe_selected this.user.staging_type "None"}}>None</option>
                <option value="Label" {{maybe_selected this.user.staging_type "Label"}}>Label</option>
                <option value="Mountpoint" {{maybe_selected this.user.staging_type "Mountpoint"}}>Mountpoint</option>
                <option value="Location" {{maybe_selected this.user.staging_type "Location"}}>Location</option>
              </select>

              <input class="settings-text-input" type="text" name="staging_data" form="settings_form" placeholder="/mnt/staging"
              {{#if this.user.staging_data}}value="{{this.user.staging_data}}"{{/if}}
              /></td>
            <td>The place you would like media staged to from your devices before it is uploaded. For most people, use "Location" with a directory on your computer with at least as much space as your memory cards.</td>
          </tr>
          <tr>
            <td>Preserve device files</td>
            <td><input class="settings-text-input" type="checkbox" name="preserve_device_files" form="settings_form"
              {{#if this.user.preserve_device_files}}checked{{/if}}
              /></td>
            <td>If checked, stokepile will not remove the files from your devices after they are staged.</td>
          </tr>
        </tbody>
      </table>
      </form>
    </div>
    <div class="save-button">
      <button type="submit" form="settings_form" class="button-big pure-button pure-button-primary">Save</button>
    </div>
  </div>
</div>

{{> common/footer }}
